{% load static %}
{% load render_bundle from webpack_loader %}

<html>
<head>
    <title>M O O N</title>

    <link rel="shortcut icon" type="image/png" href="{% static "website/favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "website/css/src/style.css" %}"/>
</head>
<body>
<div>M O O N Y</div>

    <p>Hello, <span id="user">{{ user.username }}</span></p>

    <div id="app"></div>

    <script src="{% static "website/lib/reconnecting-websocket.min.js" %}"></script>

    {% render_bundle 'main' %}

</body>
</html>
