{% load static %}
{% load render_bundle from webpack_loader %}

<html>
<head>
    <title>M O O N</title>

    <link rel="shortcut icon" type="image/png" href="{% static "website/favicon.ico" %}"/>
</head>
<body>
<div>M O O N Y</div>

{% if user.is_authenticated %}
    <div>
        {{ user }} is logged
    </div>

{% else %}
    <div>
        <h4>Choose a username</h4>
        <div>
            <form action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>

    <div>
        <h4>Register</h4>
        <div>not available</div>
    </div>


    <div>
        <h4>Login</h4>
        <div>not available</div>
    </div>
{% endif %}

</body>
</html>