<!DOCTYPE html>


<body>

    {% if not user.is_authenticated %}
    <p>
        Anonymous:
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ anonymousForm }}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <input id='go_to_moon' type="submit" value="Go to the moon" />
        </form>
    </p>

    <p>
        Login:
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ registeredForm }}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <input type="submit" value="Go back to the moon" />
        </form>
    </p>
    {% else %}
    <p>Connected as {{ user.username }}</p>
    {% endif %}

</body>

</html>
