
.comptoir {
    display: inline-flex;
    flex-direction: column;

    width: 300px;
    height: 100%;
    position: relative;
    margin: 0px 10px 0px 10px ;
    background-color: white;
    font-family: "Athiti";
    font-weight: lighther;

    box-shadow: 1px 0px 10px 1px #DDDDDD;
}

.comptoir .header {
    min-height: 50px;
    height: 50px;
    border-bottom: black 1px solid;
    background-color: #c39dbd;
}

.comptoir .messages {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.comptoir .footer {
    min-height: 50px;
    height: 50px;
}

.comptoir .footer > div > div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.comptoir .msg, .write-msg {
    display: flex;
    flex-direction: row; 
}

.comptoir .write-msg {
    height: 100%;
}

.comptoir .msg-left {
    min-width: 80px;
    width: 80px;
    text-align: right;
    font-weight: bold;
}

.comptoir .msg-separator {
    min-width: 21px;
    width: 21px;
    background-image: url("../../img/vert-line.png");
    background-position-x: center;
    background-repeat: repeat-y;
    display: flex;
}

.comptoir .msg-separator span {
    white-space: nowrap;
    margin: auto;
    margin-top: 0px;

    background-color: white;
    position: relative;
    text-align: center;
    color: #D08A8A;
}

.comptoir .msg-right {
    flex-grow: 1;
    overflow-x: scroll;
    font-weight: lighter;
}

.comptoir .msg.space:not(:first-child) > div {
    padding-top: 5px;
}

.comptoir .msg.space:not(:first-child) > div {
    padding-top: 5px;
}

.comptoir .footer .msg-right {
    display: flex;
    padding-right: 10px;
}

.comptoir .footer .msg-input {
    font-size: 1em;
    /*
	border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    background-color: #CDDED9;
    */
    border-style: none;

    overflow: auto;
    outline: none;
	resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    font-family: "Athiti";
    font-weight: lighter;
    line-height: 100%;
    flex-grow: 1;
}
