@import url("comptoir.css");

@font-face {
    font-family: Athiti;
    font-weight: 200;
    src: url("../../fonts/Athiti-Light.ttf");
}

@font-face {
    font-family: Athiti;
    font-weight: 400;
    src: url("../../fonts/Athiti-Regular.ttf");
}

@font-face {
    font-family: Athiti;
    font-weight: 700;
    src: url("../../fonts/Athiti-SemiBold.ttf");
}

@font-face {
    font-family: LimeLight;
    src: url("../../fonts/LimeLight.ttf");
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #FBF8F4;
}

header {
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px; 
    right: 0px; 
    background-color: #9DC3C0;
}

header > div {
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    font-family: "Limelight";
    font-size: 1.5em;
}

section {
    position: absolute;
    top: 50px;
    bottom: 10px;
    left: 0px;
    right: 0px;
}

section #app, #app > div {
    height: 100%;
    width: 100%;
    position: relative;
}

section .bar {
    height: 100%;
    width: 100%;
    position: relative;
}

.bar > .header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 35px;
}

.comptoir-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

.bar > .comptoir-container {
    top: 35px;
    display: flex;
    align-items: flex-end;
}

footer {
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px; 
    right: 0px;
    background-color: #9DC3C0;
}

a {
    color: #c39dbd;
    text-decoration: none;
}

a.control {
    color: black;
}
