<!doctype html>
<html>
    <head>
        <title>M O O N</title>
        
        {% load static %}
        <link id="favicon" rel="shortcut icon" type="image/png" href="{% static "website/moon-1-black.png" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "website/css/src/style.css" %}"/>

        <link rel="stylesheet" type="text/css" href="{% static "website/css/lib/font-awesome.min.css" %}"/>

        {% block additional_css %}
        {% endblock %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        <header>
            <div>MOON</div>
        </header>

        <section>
            {% block content %}
            {% endblock %}
        </section>

        <footer>
        </footer>
    </body>
</html>
